In [ ]:
a = (input('enter a list: ')).split()
for i in range(0,5):
  a[i] = int(a[i])
a = sorted(a)
del a[0]
del a[3]
print((a[0]+a[1]+a[2])/3)

enter a list: 100 30 40 50 60
50.0

In [ ]:
a = float(input('enter first number: '))
b = input('enter a symbol')
c = float(input('enter second number: '))
if b == "+":
  print(a+c)
elif b == "-":
  print(a-c)
elif b == '*':
  print(a*c)
elif b == '/':
  print(a/c)
else:
  print('error')

enter first number: 2
enter a symbol/
enter second number8
0.25

In [1]:
a = float(input("enter a year: "))
if a > 1852:
  if a%4 == 0:
    if a%100 == 0:
      if a%400 == 0:
        print('閏年')
      else:
        print('平年')
    else:
      print('平年')
  else:
    print('平年')
else:
  if a%4 == 0:
    print('閏年')
  else:
    print('平年')

enter a year: 2022
平年